{% extends "base.html" %}

{% block breadcrumbs %}
<ul>
    <li>Home</li>
</ul>
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="content-wrap home">
    <h3>Welcom dear user!</h3>
    <p>This portal is for managing financial record of groups with the following main features: </p>
    <ol>
        <li>Create and manage group(s)</li>
        <li>Add and manage members to group</li>
        <li>Add group contributions repository</li>
        <li>Capture each member contributions</li>
        <li>Generate usable reports</li>
    </ol>

    {% if current_user and current_user.role == 'ADMIN' %}
    <p>You are admin user: <a href="/admin" class="link">Go to admin area</a></p>
    {% endif %}
</div>

{% endblock %}
