{% extends "base.html" %}

{% block title %}
Privileges
{% endblock %}

{% block breadcrumbs %}
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="{{ url_for('privileges.index') }}">Privileges</a></li>
    <li><span>Manage</span></li>
</ul>
{% endblock %}

{% block content %}
<div class="content-wrap">
    <h3>{% if privilege %}Edit {% else %}Add new {% endif %} privilege</h3>
    <form class="form" action="{{ url_for('privileges.manage') }}" method="post">
        <fieldset>
            <input type="hidden" name="id" {% if group %} value="{{ privilege.id }}" {% endif %} />
            <div>
                <div class="input-grp float-container">
                    <label for="name">Name:</label>
                    <input autocomplete="off" type="text" name="name" id="name" data-placeholder="Enter name" {% if
                        privilege %} value="{{ privilege.name }}" {% endif %} />
                </div>
                <div class="input-grp">
                    <button type="submit">Save</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
