$colors: (primaryColor: #00796b,
primaryLightColor: #48a999,
primaryDarkColor: #004c40,
primaryTextColor: #ffffff,
secondaryColor: #00e676,
secondaryLightColor: #66ffa6,
secondaryDarkColor: #00b248,
secondaryTextColor: #eceff1,
colorAccent: #3366ff,
mainBackground: #f0f0f0,
colorDanger: #ff3333,
colorGray: #ccc,
colorLink: #3366ff,
colorOutline: #3366ff,
colorBorder: #eee,
colorClose: #FF3333);

$padding: 0.3rem;
$margin: 0.6rem;
$break-small: 440px;
$break-medium: 780px;

@function color($name) {
    @return map-get($colors, $name);
}