{% extends "base.html" %}

{% block title %}
Roles
{% endblock %}

{% block breadcrumbs %}
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="{{ url_for('roles.index') }}">Roles</a></li>
    <li><span>Matrix</span></li>
</ul>
{% endblock %}

{% block content %}
<div class="content-wrap table-container">
    <h3>Role matrix for: <u>{{ role.name }}</u></h3>
    <div class="matrix">
        <form action="{{ url_for('roles.matrix') }}" method="post">
            <input type="hidden" name="id" value="{{ role.id }}" />
            <ul>
                <li>
                    <div class="input-grp">
                        <button type="submit">Save</button>
                    </div>
                </li>
                <li><b>Privileges:</b>
                    <ul>
                        {% for p in privileges %}
                        <li>
                            <div class="input-grp checkbox">
                                <input type="checkbox" name="privileges" value="{{ p.id }}" /><label>{{ p.name }}</label>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </form>
    </div>
</div>
{% endblock %}
