<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %} - FXR</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fa/all.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css') }}" />
        <script type="text/javascript">
            function closeFlash() {
                var flash = document.getElementById('flash-container');
                //flash.parentNode.removeChild(flash);
                flash.classList.add('closed');
                flash.addEventListener("transitionend", function (event) {
                    if (flash.parentNode) {
                        flash.parentNode.removeChild(flash);
                    }
                }, false);
            }

        </script>
    </head>

    <body>
        <header id="main-header">
            <div class="logo">
                <img src="{{ url_for('static', filename='img/finrec_logo_croped_540.PNG') }}" alt="" />
            </div>
            <div class="nav-wrap">
                {% if current_user%}
                <nav id="main-menu" class="main-menu" role="navigation" aria-expanded="false" aria-label="Main menu">
                    <a href="#main-menu-toggle" class="menu-close" role="button" id="main-menu-close" aria-expanded="false"
                        aria-controls="main-menu" aria-label="Close main menu">
                        <span class="sr-only">Close main menu</span>
                        <span class="fa fa-close" aria-hidden="true"><i class="fas fa-times"></i></span>
                    </a>
                    <ul>
                        {% for (n, p, a) in navs %}
                        <li {% if a: %} class="active" {% endif %}><a href="{{ p }}">{{ n }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
                <a href="#main-menu-toggle" class="backdrop" tabindex="-1" aria-hidden="true" hidden></a>
                <a href="#main-menu" class="menu-toggle" role="button" id="main-menu-toggle" aria-expanded="false"
                    aria-controls="main-menu" aria-label="Open main menu">
                    <!--span class="sr-only">Open main menu</span-->
                    <span class="fa fa-bars" aria-hidden="true"></span>
                </a>
                {% endif %}
            </div>
        </header>
        <main>
            <div class="topbar">
                <div class="breadcrumbs">
                    {% block breadcrumbs %}{% endblock%}
                </div>
                {% if current_user.is_authenticated %}
                <hr />
                <div class="user">
                    <span>Logged in as: {{ current_user.username }}</span>
                    |
                    <a href="{{ url_for('users.logout') }}">Logout <i class="fas fa-sign-out-alt"></i></a>
                </div>
                {% else %}
                <div class="user">
                    <span>You are not logged in | </span>
                    <a href="{{ url_for('users.login') }}">Login <i class="fas fa-sign-in-alt"></i></a>
                </div>
                {% endif %}
            </div>
            <div class="flash" id="flash-container">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="msg-info">
                    <i class="fa fa-info-circle"></i>
                    <div class="list">
                        {% for message in messages %}
                        <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                    <span><a href="javascript:void(0);" onclick="closeFlash()"><i class="fas fa-times"></i></a></span-->
                </div>
                {% endif %}
                {% endwith %}
            </div>
            <div class="container">
                <div class="content card card-1">
                    {% block content %}{% endblock %}
                </div>
                {% if current_user.is_authenticated %}
                <div class="userdetails card card-1 user-profile">
                    <section>
                        <h3>User info</h3>
                        <p>Username: {{ current_user.username}}</p>
                        <p>Role: {{ current_user.role or 'None'}}</p>
                        <a href="{{ url_for('users.changepwd') }}" class="link">Change password</a>
                    </section>
                    <section>
                        <h3>Member info</h3>
                        <ul>
                            {% for m in current_user.members %}
                            <li>
                                {{ m.name}} ({{ m.group.name }})
                            </li>
                            {% endfor %}
                        </ul>
                    </section>
                </div>
                {% endif %}
            </div>
        </main>
        <footer>
            <div class="row1">&copy; {{ copyright_year }} | Neza Technologies | FX REC</div>
        </footer>

        <script src="{{ url_for('static', filename='js/float-label.js') }}"></script>
    </body>

</html>
